 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Condensed:400,700|Oswald:400,700,300);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=entypo);

$fijalla: 'Fjalla One', sans-serif;
$roboto:'Roboto Condensed', sans-serif;


/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
//'Oswald', sans-serif;
//colors

$khaki: hsl(36,90,75);
$brownish: hsl(15,21,53);
$coral: hsl(13,74,62);
$slate: hsl(282,7,27);
$silver: hsl(10,21,72);

$lightslategray: hsl(45,20,81);
$burlywood: hsl(47,56,66) ;
$indianred: hsl(346,41,46);
//http://i.huffpost.com/gen/1716876/thumbs/o-ATLANTA-TRAFFIC-facebook.jpg
$silver2: hsl(56,27,73);
$darkgray: hsl(195,5,69);

$babyblue: hsl(187,15,61);
$lightslategray2: hsl(216,6,56);
$silver3: hsl(67,5,71);


// Custom Styles
body{
  font-size: 62.5%;
  a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  a:hover{
    color: $indianred;
  }
}
.body-container{

  max-width: 1300px;
}
.header-bg{
  //background-image:url("http://i.imgur.com/9DPfrWQ.jpg");
 margin-top: -50px;

  background-size: cover;
  //height: 500px;
  background-attachment: fixed;
}
.header{
  //position: absolute;
  margin-top: -53px;
  //height: 500px;
  opacity: .95;
  //background-color: $darkgray;
  font-family: $fijalla;
  .logo h1{
    display: none;


  }
  h1{
  //display: none;
  padding-top: 100px;
  text-align: center;

  font-size: 6.0em;
  //color: $indianred;
  }
  h2 {
    text-align: center;
    font-size: 2.3em;
    a{
      text-decoration: none;
      color: black;
      transition: color 0.3s ease;
    }
    a:hover{
      color: $indianred;
    }
  }

}

$arty:  url("http://i.imgur.com/1qS8TeY.jpg");
$tunnel:  url("http://i.imgur.com/ubxdEzh.jpg.jpg");
$highway: url("http://i.imgur.com/XQiNCZU.jpg");
$bufordhwy:  url("http://i.imgur.com/YMBAo6T.jpg");
$map: url("http://i.imgur.com/QI4vPAt.jpg");
.homeview{


  width:100%;
  //height: 350px;

  //font-size: 2.0em;

}

.console, .console2{
  margin-top: 30px;
  height: 500px;
  font-size: .5em;
  border-radius: 7px;
  background-image: $map;
  #login, #signUp{
    padding-top: 20px;
  }

  input, button, textarea{
    border-radius: 6px;
    opacity: .9;

  //margin-left: 1%;
  margin-top: 15px;
  width: 80%;
  height: 30px;
  font-family: Helvetica;
  padding: 10px;
  border: none;
  }
  button{
    margin-top: 20px;
    opacity: .9;
    font-family: $fijalla;
    color: black;
    font-size: 1.1em;
    background-color: $indianred;
    height: 40px;
    transition: all 0.3s ease;
  }
  button:hover{
  opacity: .8;
  color: white;

  }
  #addRider{
    padding-top: 20px;
  }
}

//: hsl(216,6,56);

.mid-nav, .midnav2, .midnav3{
  margin-top: 20px;
  font-family: $fijalla;
  font-size: 3.0em;
  color: black;
  margin-top: 0;
  text-align: center;
  height: 150px;
  opacity: .8;
  //border: 1px solid $darkgray;
  background-color: $indianred;
  //
  //background-size: stretch;

  h2{
    margin-top: 20px;
  }
  &:hover{

    opacity: 1;
box-shadow:         6px 6px 24px 0px rgba(50, 50, 50, 1);
}
  a{
    color: white;
    //transition: border-bottom 0.2s ease;
  }
  a:hover{
    color: black;
    //border-bottom: 4px solid $indianred;
  }

}
.hero-unit{
  font-size: 1.8em;
  font-family: $fijalla;
  background-color: $slate;
}
//media query for top 3 section
.col-group > div {
  padding: 1em 1em 0;
}
$downtown: url("http://www.hilton.com/top-destinations/assets/uploads/hero-images/Destinations_Header_Atlanta_2.jpg");
$arty2: url("http://i.imgur.com/JuG4Cyi.jpg");
@media screen and (min-width: 50em) {
  .entypo-user, .entypo-users, .entypo-logout{
    padding:5px;
  }
  .console2{
    background-image: $highway;
    height: 520px;
    margin-left: 16%;
    width: 68%;
    input, textarea{
      opacity: .9;
      display: block;
      margin-left: 20%;
      width: 60%;
      padding: 5px;
      font-family: Helvetica;
      font-size: 0.4em;
      margin-top: 13px;

    }
    button{
      width: 40%;
      padding-bottom: 10px;
      font-size: .4em;
    }
    button:hover{
    opacity: .9;
    color: gray;
    }
    #addRider{
      padding-top: 10px;
    }
  }

  .console{
    height: 500px;
    width: 80%;//650px;
    margin-top: 20px;
    margin-left: 10%;
    background-image: $arty2;//url("http://i.imgur.com/9DPfrWQ.jpg");
    background-size: cover;
    //background-color: $indianred;
    #login, #signUp{
      padding-left: 5%;
      padding-top: 60px;
    }
    input, button{
    display:block;
    //width: 70%;
    opacity: .85;
    margin-left: 7%;
    font-size: 0.4em;
    font-family: Helvetica;
    height: 40px;
    color: black;
    margin-top: 10px;
    }
    button{
      background-color: $indianred;
      font-family: $fijalla;
      width: 50%;
      margin-left: 22%;
      opacity: 1;
      margin-top: 25px;
      height: 30px;
    }
    #signer{
      display: inline-block;
      width: 50%;
      //margin-left: 10%;
      //padding-top: 5px;
      //margin-left: 70%;
      //margin-top: -10px;
    }
    button:hover{
      opacity: .8;
    }
  }

}

@media screen and (min-width: 50em) {
  .header, .header-bg{

  //height: 510px;

    h1{
      font-size: 9.0em;
    //  width:65%;
      text-align: center;
      //margin-left: 17%;
    color: black;//$indianred;
    //background-color: gray;
      padding-top: 20px;
    }
  }

  .header-bg{
    //background-image: url("http://i.huffpost.com/gen/1716876/thumbs/o-ATLANTA-TRAFFIC-facebook.jpg");
// background-image: url("http://gokms.com/wp-content/uploads/2014/06/Atlanta-At-Night-Hd.jpg");
  //background-image: url("http://i.imgur.com/knYc6Lp.png");
    background-size: cover;
    opacity: 1;

 }
  .mid-nav{
    font-size:2.5em;
  }
  .mid-nav, .midnav2, .midnav3{
    margin-top: 5px;
    height: 40px;
    h2{
      margin-top: -15px;
      font-size: 0.7em;
    }
  }
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }

}
html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
#map-canvas{
  //height: 300px;
//  width: 500px;
height: 200px;
//display:none;
width: 80%;
margin-left: 10%;
  //border: 2px solid blue;
}
#riderList li{
  list-style-type: none;
  width: 180px;
  height: 250px;
  text-align: center;
  background-color: black;
  display: inline-block;
  margin: 5px;
  color: white;
  opacity: .8;
  a{
    color: white;
  }
  &:hover{
    opacity: 1;
    box-shadow:  1px 4px 18px 0px rgba(50, 50, 50, 1);
  }
}
.matchpic{
  width: 180px;
  height: 200px;
}
.profilepic{

  //margin-top: -22px;
  width: 100px;
  height: 150px;

}
@media screen and (min-width: 50em) {
///individual profile styling goes here//
.bigProfile{
background-color: black;
  box-shadow: #6E7849 1px 1px 10px;
  overflow: auto;
  opacity: .9;

  width:100%;

  .profile_details{

    float: left;
    width: 70%;
    display: inline;
  //  border: 1px solid green;
    margin-top:20px;
    padding-left: 20px;
    padding-top: 20px;
    height:170px;
    //border: 2px solid red;
  }
  .fontawesome-exchange{
    background-color: white;
    color: white;
    padding: 10px;
    font-size: 5.0em;
  }

  .mail{
    //margin-top: 10px;
    //border: 1px solid gray;
  }
  .fontawesome-exchange:hover{
    background-color: $indianred;
  }

  .brandico-linkedin-rect{
    color: hsl(199,100,35);
    font-size: 1.4em;
    //margin-top: -20px;
    padding: 5px;
    display: inline;
    //padding: 10px;

  }
  .brandico-linkedin-rect:hover{

    color: hsla(199, 100%, 47%, 1);//hsla(199, 100%, 22%, 1);
  }
  .info{
    clear: both;
    padding:20px;
    font-size: 1.7em;
    //box-shadow: 1px 4px 18px 0px rgba(50, 50, 50, 1);
    //border: 1px solid gray;
    text-align: left;
    background-color: black;
    color:white;
    padding-bottom: 20px;
    //padding-left: 10px;
  }
  .employer{
   clear: both;
   color:white;
   //border: 2px solid blue;
   margin-top: -20px;
   //padding-top: -10px;
   font-size: 1.1em;
  }
  .profile_name{
  color: white;
  float: left;
  font-size: 2.2em;
  margin-top: 2px;
  }
  .photo_section{
    width:150px;
    position: relative;
    height: 200px;
    float: left;

  }
  .entypo-switch{
    //color: $darkgray;
    opacity: .8;
    background-color: $indianred;
    margin-left: 110px;
    font-size: 1.8em;
    padding: 11px;
    margin-top:-45px;
    position: absolute;
  }
  .entypo-switch:hover{
    //background-color:$lightslategray;
    color: white;

  }
.bigprofilepic{
//.photo_section{
  width: 150px;

  //border:2px solid green;
  height: 200px;
  //padding-bottom: 20px;
  //padding-top: 20px;
  //padding-left: 20px;

}
}
.riderprofileSingle{
  width: 70%;
  margin-left: 15%;
   //border: 2px solid green;
  //  background-image: url("http://i.huffpost.com/gen/1716876/thumbs/o-ATLANTA-TRAFFIC-facebook.jpg");
}
}
#signUpField{
  background-color: black;
  width: 100%;
  font-size: 1.7em;

}

.testresults{
  width: 100%;
  //background-color: yellow;
  //height: 600px;
}

.hoodprofile{
  height: 120px;
  width:100px;
  opacity: 1;
}
#home_hood, #work_hood{
  color: $indianred;
  border: none;
  padding: 20px;
  height:50px;
}
#homeSearch{
width: 100%;
}
@media screen and (min-width: 50em){
#home_hood, #work_hood{

//  background-color: $silver3;

  height:50px;
  padding: 20px;

}

input[name=home_hood] {
    font-family: Arial;
	font-size: 2.3em;
	width: 350px;
    height: 90px;
	font-weight: bold;
}

input[name=work_hood] {
    font-family: Arial;
	font-size: 2.0em;
	width: 300px;
    height: 90px;
	font-weight: bold;
}

input[type=submit] {
	width: 300px;
	height: 100px;
	font-family: Arial;
	//font-size: 36px;
	background: #DF0101; /* red */
	box-shadow: #6E7849 1px 1px 10px;
	color: white;
}
#homeSearch{
  background-color: white;
  color: black;
  font-size: 1.9em;
  opacity: .9;
  text-align:center;
  width: 80%;

  margin-left: 10%;
}
#homeSearchButton{
  padding:10px;
  font-size: 0.9em;
  color: black;
}
.hoodResults li{
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}
}
.entypo-user, .entypo-users, .entypo-logout{
  padding:5px;
}


///images on home page
.col-group2 > div {
  padding: 1em 1em 0;

}
#homepic1,#homepic2,#homepic3{
  margin-left: 1%;
  opacity: .9;
  box-shadow: #6E7849 1px 1px 10px;
  &:hover{
    opacity: 1;
  }
}

#homepic1{
  height: 300px;
  background-image: url("http://i.imgur.com/hrryUR4.jpg");
  background-size: cover;
  position: relative;
  h2{
    background-color: white;
    position: absolute;
    margin-top: 140px;
    margin-left: -10px;
    opacity: .8;
    color: black;
    font-size: 2.1em;
    padding: 10px;
  }
  h2:hover{
    background-color: $indianred;
    color: white;
  }

}
#homepic2{
  background-image: url("http://i.imgur.com/YBCeC34.jpg");
  background-size: cover;
  height: 300px;
  position: relative;
  h2{
    background-color: white;
    position: absolute;
    margin-top: 20px;
    //margin-left: -10px;
    color: black;
    opacity: .8;
    font-size: 2.1em;
    padding: 10px;
  }
  h2:hover{
    background-color: $indianred;
    color: white;
  }
}
#homepic3{
  background-image: url("http://alt.coxnewsweb.com/cnishared/tools/shared/mediahub/01/16/00/slideshow_1001612536_battle.0718-BH087.jpg");
  height: 300px;
  h2{
    background-color: white;

    color: black;
    opacity: .8;
    font-size: 2.1em;
    padding: 10px;
  }
  h2:hover{
    background-color: $indianred;
    color: white;
  }
}
@media screen and (min-width: 50em) {
  .col-group2 {
    overflow: hidden;
  }
  .col-group2 > div {
    float: left;
    width: 32%;
  }
}
.allRiders{
  // background-color: #eee;
}

//edit profile view
@media screen and (min-width: 50em) {
.myProfile{
  font-family: Helvetica;
  background-color: white;
  box-shadow:         6px 6px 24px 0px rgba(50, 50, 50, 1);
  height: 300px;
  width: 950px;
  margin-bottom:50px;
  padding-top: 10px;
  margin-left: 5%;
  img{
    float: left;
    opacity: .9;
    width: 220px;
    padding: 20px;
    height: 280px;
  }
  img:hover{
    opacity: 1;
  }
  .more_details{
       margin-top:-10px;
    float: left;
    display: block;
    padding: 5px;
    input{
      margin: 5px;
    border-radius: 5px;
    background-color: #eee;
    border: none;
    width: 250px;
    padding: 4px;
    font-size: 1.0em;
    }
    h2{
      font-size: 2.6em;
    }
    .buttons{
      text-align: center;
      margin-top: -10px;
    }
    p{

      font-size: 1.3em;
    }
    .brandico-linkedin-rect{
      color: hsl(199,100,35);
    }
    .brandico-linkedin-rect:hover{

      color: hsla(199, 100%, 47%, 1);
    }
    #update_info{
    width: 600px;
    }
    button{
      color: $indianred;
      padding: 6px;
      font-size: 1.3em;
    }
    button:hover{
      color: black;
    }
    #delete{
      border: none;
      background-color: $indianred;
      color: white;
      margin-left: 10px;
      padding: 6px;

    }
    #delete:hover{
      color: black;
      border: 2px solid #eee;
    }
    .fontawesome-edit{
      padding: 6px;
    }
  }
}
}
.entypo-floppy{
  padding: 5px;
}
