 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Condensed:400,700|Oswald:400,700,300);

$fijalla: 'Fjalla One', sans-serif;
$roboto:'Roboto Condensed', sans-serif;
$oswald: 'Oswald', sans-serif;
//colors

$khaki: hsl(36,90,75);
$brownish: hsl(15,21,53);
$coral: hsl(13,74,62);
$slate: hsl(282,7,27);
$silver: hsl(10,21,72);

$lightslategray: hsl(45,20,81);
$burlywood: hsl(47,56,66) ;
$indianred: hsl(346,41,46);
//http://i.huffpost.com/gen/1716876/thumbs/o-ATLANTA-TRAFFIC-facebook.jpg
$silver2: hsl(56,27,73);
$darkgray: hsl(195,5,69);

$babyblue: hsl(187,15,61);
$lightslategray2: hsl(216,6,56);
$silver3: hsl(67,5,71);

$arty:  url("http://i.imgur.com/1qS8TeY.jpg");
$tunnel:  url("http://i.imgur.com/ubxdEzh.jpg.jpg");
$highway: url("http://i.imgur.com/XQiNCZU.jpg");
$bufordhwy:  url("http://i.imgur.com/YMBAo6T.jpg");
$sketchy: url("http://i.imgur.com/fshxb6E.jpg");
// Custom Styles
body{
  font-size: 62.5%;
  a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  a:hover{
    color: $indianred;
  }
}
.body-container{
  //border: 2px solid green;
  max-width: 1300px;
}
.header-bg{
  background-image:url("http://i.imgur.com/9DPfrWQ.jpg");
  margin-top: -40px;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
}
.header{
  //position: absolute;
  margin-top: -43px;
  height: 500px;
  opacity: .8;
  background-color: $darkgray;
  font-family: $fijalla;
  h1{

  padding-top: 100px;
  text-align: center;
  font-size: 6.0em;
  //color: $indianred;
  }
  h2 {
    text-align: center;
    font-size: 2.3em;
    a{
      text-decoration: none;
      color: black;
      transition: color 0.3s ease;
    }
    a:hover{
      color: $indianred;
    }
  }

}
.homeview{
  background-color: black;
  text-align: center;
  color: white;
  height: 50px;
  font-size: 1.0em;
  ul{
    padding-top: 10px;
  }
  a{

    font-size: 1.0em;
    color: white;
  }
}

.console{
  height: 190px;
  background-color: $slate;
  #login, #signUp{
    padding-top: 20px;
  }
  input, button{
  margin-left: 10%;
  margin-top: 15px;
  width: 80%;
  height: 30px;
  padding: 5px;
  border: none;
  }
  button{
    margin-top: 20px;
    opacity: 1;
    height: 40px;
  }
  button:hover{
    opacity: .8;
  }
}

//: hsl(216,6,56);
$arty:  url("http://i.imgur.com/1qS8TeY.jpg");
$tunnel:  url("http://i.imgur.com/ubxdEzh.jpg.jpg");
$highway: url("http://i.imgur.com/XQiNCZU.jpg");
$bufordhwy:  url("http://i.imgur.com/YMBAo6T.jpg");
.mid-nav, .midnav2, .midnav3{
  margin-top: 20px;
  font-family: $fijalla;
  font-size: 3.0em;
  color: black;
  margin-top: 0;
  text-align: center;
  height: 150px;
  opacity: .8;
  //border: 1px solid $darkgray;
  background-color: $lightslategray2;
  //
  //background-size: stretch;

  h2{
    margin-top: 20px;
  }
  &:hover{

    opacity: 1;
box-shadow:         6px 6px 24px 0px rgba(50, 50, 50, 1);
}
  a{
    color: black;
    //transition: border-bottom 0.2s ease;
  }
  a:hover{
    color: white;
    //border-bottom: 4px solid $indianred;
  }

}
.hero-unit{
  font-size: 1.8em;
  font-family: $fijalla;
  background-color: $slate;
}
//media query for top 3 section
.col-group > div {
  padding: 1em 1em 0;
}
@media screen and (min-width: 50em) {

  .console{
    height: 70px;
    margin-top: -5px;
    background-color: $slate;
    #login, #signUp{
      padding-left: 5%;
      padding-top: 25px;
    }
    input, button{
    display: inline-block;
    width: 30%;
    margin-top: -10px;
    margin-left: 10px;
    //width: 80%;
    //height: 30px;


    }
    button{
    //  margin-top: 20px;
      opacity: 1;
      height: 30px;
    }
    #signer{
      display: inline-block;
      width: 20%;
      padding-top: 5px;
      margin-left: 70%;
      //margin-top: -10px;
    }
    button:hover{
      opacity: .8;
    }
  }

}

@media screen and (min-width: 50em) {
  .header, .header-bg{
    height: 600px;
    h1{
      font-size: 7.0em;
      padding-top: 200px;
    }
  }

  .header-bg{
    background-image: url("http://i.huffpost.com/gen/1716876/thumbs/o-ATLANTA-TRAFFIC-facebook.jpg");
    background-size: cover;
  }



  .mid-nav{
    font-size:2.5em;
  }
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }







}
html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
#map-canvas{
  //height: 300px;
//  width: 500px;
height: 300px;
width: 500px;
  border: 2px solid blue;
}
#riderList li{
  list-style-type: none;
  width: 100px;
  height: 180px;
  text-align: center;
  background-color: black;
  display: inline-block;
  margin: 5px;
  opacity: .8;
  a{
    color: white;
  }
  &:hover{
    opacity: 1;
    box-shadow:  1px 4px 18px 0px rgba(50, 50, 50, 1);
  }
}
.profilepic{

  //margin-top: -22px;
  width: 100px;
  height: 150px;

}
.bigprofilepic{
  width: 200px;
  height: 250px;
}
.riderprofileSingle{
  background-color: white;


}
#signUpField{
  background-color: black;
  width: 100%;
  font-size: 1.7em;

}
.matchresults li{
  color: white;

}

.matchresults2, .matchresults4{
  list-style-type: none;
  height: 201px;
  background-color: white;
  color: black;

}
.myMatches ul li{
  list-style-type: none;
  background-color: white;
  color: black;

}
