<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>final</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">
    <link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="body-container">
      <div id="pattern" class="pattern">
      <div class="col-group">
        <div class="mid-nav">
          <h2 id="logOut"><a href="#"><span class="entypo-logout"></span>Log Out</a></h2>
          <!--<h2><a id="logOut" href="#">Logout</a></h2>-->

        </div>
        <div class="mid-nav">
          <h2><a href="#/matchesCalc"><span class="entypo-users"></span>Ride Matches</a></h2>


        </div>
        <div class="mid-nav">
        <h2><a href="#/myCommute"><span class="entypo-user"></span> My Commute</a></h2>


        </div>
      </div>
      </div>
        <div class="header-bg">

          <div class="header">


        <h1 class="logo">  ATL Rideshare <span class="fontawesome-exchange"></span></h1>
          <h2 class="topnavlinks">
                <a href="#/login" id="login-link"> Login</a> | <a href="#/signUp" >Sign Up</a>
              <div id="homeSearch">
                <!-- <form ID = "Form">
         <!-- Standard input text boxes
         <input type="Text" name="FirstName" placeholder="First Name"> <br>
         <input type="Text" name="Surname" placeholder="Surname"> <br>


         <input type="submit" value="Submit" name="Submit">
   </form>   Submit button -->


              <p>I'm commuting from
            <select id="home_hood" name="home_hood"></p>
                      <option value="Buckhead">Buckhead</option>
                      <option value="Chamblee">Chamblee</option>
                      <option value="College Park">College Park</option>
                      <option value="Decatur">Decatur</option>
                      <option value="Downtown">Downtown</option>
                      <option value="Marietta">Marietta</option>
                      <option value="Midtown">Midtown</option>
                      <option value="Norcross">Norcross</option>
              </select> <br>


              To <select id="work_hood" name="work_hood">
                      <option value="Buckhead">Buckhead</option>
                      <option value="Chamblee">Chamblee</option>
                      <option value="College Park">College Park</option>
                      <option value="Decatur">Decatur</option>
                      <option value="Downtown">Downtown</option>
                      <option value="Marietta">Marietta</option>
                      <option value="Midtown">Midtown</option>
                      <option value="Norcross">Norcross</option>
              </select>

              <button id="homeSearchButton">See Commuters</button><br>
            </form>

              <ul class="hoodResults">



              </ul>
               <div id="map-canvas"></div>

              </div>




        <!--  <h2 id="logOut"><a href="#">Log Out</a></h2>-->


        </div>

<div id="riderList"></div>
        </div><!--end of header bg-->




  <!--<div class="hero-unit">
  </div>-->
  </div>


</div><!--end of body container-->
        <script type="text/template" id="homeTemp">
        <div class="homeview">
        <!-- <img src="http://i.imgur.com/XQiNCZU.jpg" />-->
        </div>
        </script>

<!--match calc view-->
        <script type="text/template" id="matchesTemp">
          <h2> Your Matches </h2>
          <p>Select Mile Radius:
          <input id="filternumber" value="10"></p>
        <!--  <br><input id="filterwork" placeholder="Work Mi Radius"><br>-->
          <button id="filter">Filter </button><hr/>
          <ul class="testresults">
          </ul>

      <!--   <button id="matchesCalc">View Matches</button>
         <ul class="matchresults">

         </ul>
-->
       </script>

        <script type="text/template" id="SignUpTemp">
        <div class="console">
        <form action="submit" id="signUp">
        <!--<input type="text" id="signUpUser" placeholder="First Name">-->
        <input type="text" id="signUpEmail" placeholder="Email Address">
        <input type="password" id="signUpPassword" placeholder="Password"><br>

         <button>Sign Up</button>
         </form>
         </div>
        </script>

        <!-- User Login -->
        <script type="text/template" id="loginTemp">
        <div class="console">
        <form action="submit" id="login">
        <!-- <input type="text" placeholder="Name" id="username">-->
         <input type="text" placeholder="Email Address" id="email">
         <input type="password" placeholder="Password" id="password">

         <button><span class="entypo-login"></span> Login</button>
        </form>
        </div>
        </script>

      <!--adding a new commute-->
        <script type="text/template" id="addTemp">
        <div class="console2">
        <form id="addRider">
        <input type="text" id="rider_name" placeholder="First Name" />
        <input type="file" id="profilePhotoFileUpload">
        <input type="text" id="rider_home" placeholder="Home Address" />
        <input type="text" id="rider_home_neighborhood" placeholder="Neighborhood" />
        <input type="text" id="rider_work" placeholder="Work Address" />
        <input type="text" id="rider_work_neighborhood" placeholder="Neighborhood" />

        <input type="text" id="rider_employer" placeholder="Employer" />
        <input type="text" id="rider_linked_in" placeholder="Linked In" />
        <!--<input type="text" id="rider_twitter" placeholder="Twitter" />-->
        <textarea id="rider_info" placeholder="Additional Info" />
        <button>Submit</button>
        </form>
        </div>
        <hr />
    </script>

    <!--list of all riders will go here-->
    <script type="text/template" id="publiclistTemp">

      <li id="<%= objectId %>">
        <a href="#/allriders/<%= objectId %>">
        <img class="profilepic" src="  <%= picture.url %>">
        <%= name %>

        </div>

        </a>
      </li>
    </script>

    <!--individual profile of riders-->
    <script type="text/template" id="riderprofileTemp">
      <div id="<%= objectId %>" class="bigProfile">
             <div class="photo_section">
            <img class="bigprofilepic" src="  <%= picture.url %>">
            <a href="#"><span class="entypo-switch"></span></a>
             </div>
          <div class="profile_details">

           <h2 class="profile_name"><%= name %> </h2>



      <p class="employer"><%= employer %>

      <a class="linkedin" href="<%= linked_in %>">
          <span class="brandico-linkedin-rect"></span></a>


          </p><hr/>
<p class="info"><%= info %></p>


          <!--<p class="profile_neighborhood"><%= home_neighborhood %></p>-->

          </div><!--end of profile details-->



            <!--<%= App.user.attributes .username %> %0D<%=App.user.attributes.email %> -->

          <!--end of content   </div>-->

      </div><!--end of bigProfile-->
    </script>

    <!--this shows your Commutes/link to edit your profile-->
    <script type="text/template" id="listTemp">

      <li id="<%= objectId %>">
        <a href="#/edit/<%= objectId %>">Edit Profile</a>

      <img class="profilepic" src="  <%= picture.url %>">
        <%= name %>

        </div>

      </li>
    </script>

    <!--update your individual profile goes here-->
    <script type="text/template" id="singleTemp">
      <div class="editprofile" id="<%= objectId %>">

        <form id="updateRider">
              <img class="bigprofilepic" src="  <%= picture.url %>"><br>
            <hr>
              <input type="text" value="<%= name %>" id="update_name" />
              <input type="text" value="<%= email %>" id="update_email" />
              <input type="text" value="<%= info %>" id="update_info" ></textarea>
              <input type="text" value="<%= home_address %>" id="update_home_address" />
<input type="text" value="<%= work_address %>" id="update_work_address" />

               <hr>
        <!--    <select id="update_home_hood" name="update_home_hood">
                       <option value="Buckhead">Buckhead</option>
                       <option value="Chamblee">Chamblee</option>
                       <option value="College Park">College Park</option>
                       <option value="Decatur">Decatur</option>
                       <option value="Downtown">Downtown</option>
                       <option value="Marietta">Marietta</option>
                       <option value="Midtown">Midtown</option>
                       <option value="Norcross">Norcross</option>
               </select>

               <select id="update_work_hood" name="update_work_hood" value="<% work_neighborhood">
                       <option value="Buckhead">Buckhead</option>
                       <option value="Chamblee">Chamblee</option>
                       <option value="College Park">College Park</option>
                       <option value="Decatur">Decatur</option>
                       <option value="Downtown">Downtown</option>
                       <option value="Marietta">Marietta</option>
                       <option value="Midtown">Midtown</option>
                       <option value="Norcross">Norcross</option>
               </select>-->

              <button>Update </button>
              <button id="delete">Delete</button>

        </form>
      </div>
    </script>




    <script src="scripts/vendor.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
    </script>

        <script src="scripts/main.js"></script>
</body>
</html>
